@import "./utils.css";
@import "./reset.css";

nav {
    height: 12vh;
    width: 100%;
    background: grey;
}

.nav-title {
    margin: 0 auto;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin-left: 1rem;
}

h1 {
    font-weight: bold;
}

.menu {
    visibility: hidden;
}

/* metodo 2, nav con position relative, nav-logo con absolute posto a sinistra
 e nav-title lasciato centered */

.main {
    height: 100%;
    width: 100%;
}

.main-left {
    width: 90%;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
    height: 76vh;
}

.card {
    margin: 5rem 0 0 0;
    width: 180px;
    height: 180px;
    border-radius: 20px;
    background-color: green;
}

.main-right {
    height: 76vh;
    width: 10%;
    background-color: green;
}

.aside-link {
    margin: 0.5rem 0 0.5rem 0;
}

footer {
    height: 12vh;
    width: 100%;
    background: grey;
}

@media only screen and (min-width:768px) and (max-width: 991px) {
    .nav-logo {
        display: none;
    }

    nav {
        justify-content: right;
    }

    .menu {
        visibility: visible;
        margin-right: 1rem;
    }

    .main-left {
        width: 100%;
    }

    .card-container {
        align-items: center;
        justify-content: space-around;
        grid-template-columns: repeat(2, auto);
    }

    .main-right {
        display: none;
    }
}

@media only screen and (max-width: 767px) {

    .nav-logo {
        display: none;
    }

    .menu {
        display: none;
    }

    .main-left {
        width: 100%;
    }

    .card-container {
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(1, auto);
    }

    .card-container > .card:nth-child(3), .card:nth-child(4)  {
        display: none;
    }

    .main-right {
        display: none;
    }

    footer p:nth-child(2) , p:nth-child(3) {
        display: none;
    }

    .nav-title {
        display: flex;
        gap: 0.4rem;
    }

    .nav-title::after {
        content: "(mobile)";
    }

    .card {
        margin: 0;
    }
}